*{
    margin: 0;
    padding: 0;
}

.main{
    padding: 100px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;

}

.inner{
    
    background-color: rgb(255, 255, 255);
    width: 24%;
    min-height: 475px;
    border: 3px solid rgb(236, 235, 235);
    border-radius: 5px;

    position: relative;
    
}

.inner img{
    width: 321px;
    
}

.inner h2{
    font-size: 29px;
    padding: 20px 35px;
}

.inner p{
    padding: 0px 35px;
    font-size: 16px;
    
}

.inner button{
    /* margin: 35px; */
    position: absolute;
    bottom: 20px;
    left: 35px;
    background-color: rgb(30, 87, 211);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 3px;
}